<div class="page-header"></div>

<form action="/get_chart" method="get">
    <input class="wordBox" id="wordSearch" type="text" name="submit" placeholder="">
    <button class="button" id="submit" type="submit">Search</button>
</form>


<div><%= @articles %></div>